.h100 {
  height: calc(100vh - 64px);
}

.login_form {
  padding: 40px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
}

.navbar {
  color: #fff;
  font-weight: bold;
}

.ant-modal-root .ant-modal {
  width: 400px;
}
